/** color **/
$bg_color: #fffdf5;

$lv5_color: #212121;
$lv4_color: #132F2B;
$lv3_color: #196B69;
$lv2_color: #28CC9E;
$lv1_color: #DDFEE4;

$selection_bgcolor: $lv2_color;
$selection_color: #fff;



/** font **/
$glob_font_size: 62.5%;
$glob_font_family: "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
